@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
}

header {
    text-align: center;
}

nav ul li {
    text-align: center;
}

h4 {
    text-align: center;
}
#foto1 {
    flex-direction: left;
}

footer {
    text-align: center;
}